@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eb5656;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #da3d3d;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(90deg, #17181a 0%, #8f0c33 50%, #111a33 78%);
  font-family: Arial, Helvetica, sans-serif;
  color: #171717;
}
